$font-family: Arial, Helvetica, sans-serif;
$black-color: black;
$white-color: white;
$orange-color: #f47721;
$background-body: #f7f7f7;
$border-radius: 5px;
$orange-color-hover-btn: darken(
  $color: $orange-color,
  $amount: 10%,
);
$orange-color-hover-text: lighten(
  $color: $orange-color,
  $amount: 25%,
);
