@import '../../../shared/style/variables';

.catalog-page {
  margin: 10px;
  width: 100%;
  display: flex;
  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  &-cards {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 4%;
  }
}

.card {
  position: relative;
  display: flex;
  height: 380px;
  width: 240px;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 1px -1px 14px 1px rgba(0, 0, 0, 0.09);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.06);
  }

  &-img {
    height: 200px;
  }

  &-body {
    margin: 7%;
    color: $black-color;
  }
  &-title {
    font-size: 15px;
    font-weight: bold;
  }
  &-footer {
    position: absolute;
    width: 87%;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-price {
    display: flex;
    align-items: center;
    gap: 3px;
    &-current {
      font-size: 23px;
      color: $orange-color;
      margin: 0;
    }
    &-old {
      text-decoration: line-through;
      text-decoration-style: solid;
      font-size: 16px;
      margin: 0;
    }
  }
}

.catalog-filters {
  width: 25%;
  padding: 32px 2% 0 0;
  @media screen and (max-width: 1100px) {
    width: 100%;
    padding: 0;
  }
}

.catalog-main {
  display: flex;
  flex-direction: column;
  width: 75%;
  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

.catalog-control-panel {
  display: flex;
  justify-content: space-between;
  &-form {
    display: flex;
    gap: 2%;
  }

  &-sort {
    display: flex;
    gap: 10px;

    &-btn {
      display: flex;
      gap: 2px;
      background-color: $orange-color;
      &:hover {
        background-color: $orange-color-hover-btn !important;
      }
    }
  }

  @media screen and (max-width: 555px) {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
}

.icon {
  width: 20px;
  height: 24px;
}

.catalog-categories {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  overflow: auto;
  margin-bottom: 20px;
  @media screen and (max-width: 1100px) {
    height: 190px;
  }
}

.category {
  margin: 10px 5px;
  color: $orange-color;
  background-color: $white-color;
  font-size: 14px;
  padding: 4px 15px;
  border: 2px solid $orange-color;
  border-radius: 6px;
  box-shadow: 0 2px 0 rgba(255, 175, 25, 0.1);
  @media screen and (hover: hover) {
    &:hover {
      cursor: pointer;
      color: $white-color;
      background-color: $orange-color-hover-btn !important;
    }
  }
}

.active {
  color: $white-color;
  background-color: $orange-color;
}

.catalog-filters-block-btn {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
}

.catalog-filters-block-checkbox {
  margin-bottom: 30px;
}

.catalog-filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  &-title {
    line-height: 32px;
    margin: 0;
  }
}

.catalog-filters-container {
  height: 0;
  overflow: hidden;
}

.show-filters {
  height: auto;
}

.catalog-filters-block-price {
  margin-bottom: 20px;

  &-slider {
    margin: 0 5px;
  }
}

.pagination {
  margin: auto;
  position: relative;
  margin-bottom: 0px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: lighten($color: $orange-color, $amount: 45%);
}

::-webkit-scrollbar-thumb {
  background-color: lighten($color: $orange-color, $amount: 25%);
}
