@import '../../../shared/style/variables';

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  &-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
}

.card {
  position: relative;
  display: flex;
  height: 430px;
  width: 240px;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 1px -1px 14px 1px rgba(0, 0, 0, 0.09);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.06);
  }

  &-img {
    height: 200px;
  }

  &-body {
    margin: 7%;
    color: $black-color;
  }
  &-title {
    font-size: 15px;
    font-weight: bold;
  }
  &-price {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    &-current {
      font-size: 23px;
      color: $orange-color;
      margin: 0;
    }
    &-old {
      text-decoration: line-through;
      text-decoration-style: solid;
      font-size: 16px;
      margin: 0;
    }
  }
}
