.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 64px;
}

// .header-logo{

// }

.header-menu-list {
  display: flex;
  gap: 10px;
}

.header-menu-btn {
  display: flex;
  gap: 10px;
}
