@import '../../../shared/style/variables';

.header {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 16px;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    &-user {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 32px;
    }
  }
  &-user-ico {
    width: 32px;
    height: 32px;
  }
  &-menu {
    display: flex;
    justify-content: center;
    background-color: $black-color;
    color: $white-color;
    &-list {
      display: flex;
      gap: 25px;
      list-style: none;
      padding: 0;
    }
    &-item {
      font-size: inherit;
      color: $white-color !important;
      display: flex;
      align-items: center;
      column-gap: 7px;
      &:hover {
        color: $orange-color !important;
      }
      &:hover &-ico {
        fill: $orange-color;
      }
      &-ico {
        width: 32px;
        height: 32px;
        fill: $white-color;
        transition: fill 0.3s ease-in;
      }
      &-content {
        @media screen and (max-width: 768px) {
          & {
            display: none;
          }
        }
      }
    }
  }
  .header-btn-user {
    padding: 0;
    stroke: $black-color;
    transition: stroke 0.3s ease-in-out;
    margin-right: 8px;
    &:hover {
      stroke: $orange-color;
    }
  }
  .header-btn {
    font-weight: inherit;
    color: $black-color;
    padding: 0;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1 !important;
    &:hover {
      color: $orange-color !important;
    }
    &-content {
      font-size: 24px;
      @media screen and (max-width: 768px) {
        & {
          display: none;
        }
      }
    }
  }
  & .ant-badge-count {
    background-color: $orange-color !important;
  }
}
