.registration {
  &-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 0;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin-bottom: 20px;
    background-color: #1677ff;
  }
  &-title {
    text-align: center;
    font-size: 22px;
    text-align: left;
    color: white;
  }
  &-login {
    font-size: 20px;
    color: white;
  }
  &-content {
    padding: 0 20px;
    .shipping-adress-content,
    .billing-adress-content {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid rgba(5, 5, 5, 0.09);
      margin-bottom: 24px;
    }
  }
}
