@import '../../../shared/style/variables';

.main {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: $max-width;
  &-swiper {
    &-img {
      display: flex;
      width: 100%;
      object-fit: cover;
      height: calc(100dvh - $header-height - $footer-height - 2 * $padding-main-layout - 16px);
    }
  }
}
