@import '../../../shared/style/variables';

.product-inner {
  padding: 10px;
  background-color: $white-color;
  font-family: $font-family;
  max-width: $max-width;
  min-height: calc(100dvh - $header-height - $footer-height - 2 * $padding-main-layout);
  display: flex;
  width: 100%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.product-slider {
  padding: 10px 40px;
  width: 40%;
  max-height: 100%;
  &-img {
    display: flex;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      max-height: 340px;
      width: auto;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.product {
  width: 60%;
  padding: 10px;
  &-title {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 26px;
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 21px;
    }
    @media screen and (max-width: 420px) {
      font-size: 18px;
    }
  }
  &-price {
    font-family: inherit;
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    &-current {
      color: $orange-color;
      font-size: 23px;
    }
    &-old {
      text-decoration: line-through;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.product-info {
  &-title {
    width: 100%;
    border-bottom: 3px solid $orange-color;
    &-content {
      display: inline-block;
      color: $white-color;
      text-transform: uppercase;
      background-color: $black-color;
      padding: 0 32px;
      line-height: 32px;
      margin: 0;
    }
  }
  &-detail {
    display: inline-block;
    text-transform: uppercase;
    font-weight: $font-weight;
    width: 130px;
  }
}
