@import '../../shared/style/variables';

.layout {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.content {
  min-height: calc(100dvh - 139px - 64px - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $background-body;
}
